body {  
    font-family: Arial, sans-serif;  
    margin: 20px;  
  }  
  .notaRelease{  
    font-size: 4px;  
    color: #588cba;  
    margin-bottom: 20px;
      
  }
  table {  
    width: 100%;  
    border-collapse: collapse;  
  }
  th {  
    background-color: #f2f2f2;  
    font-size: x-small;
    border: 1px solid #ddd;  
    padding: 8px;  
    text-align: center; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
  }
  td {  
    font-size: x-small;
    border: 1px solid #ddd;  
    padding: 8px;  
    text-align: justify; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
  }

  .container {  
    max-width: 600px;  
    margin: 0 auto;  
    text-align: center;  
  }  
  h1 {  
    font-size: 24px;  
    margin-bottom: 20px;  
  }  
  input[type="file"] {  
    margin: 10px 0;  
  }  
  button {  
    margin-top: 20px;  
    padding: 10px 20px;  
    background-color: #007BFF;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
  }  
  button:hover {  
    background-color: #0056b3;  
  }  
  textarea {  
    width: 100%;  
    height: 200px;  
    margin-top: 20px;  
  }  
  li{
    margin: 25px 0;  
    box-shadow: 10px 10px 5px #888888;
    padding: 10px;
  }